*{
	padding:0px;
	margin:0px;
	font-family: franklin gothic Book;
}

body{
	font: 15px franklin gothic Book;
	padding:0px;
	margin:0px;
}	

header{
  background:#ffffff;
  color:;
  padding-top:30px;
  min-height:70px;
  border-top:#F0B429 7px solid;
  border-bottom :#005883 15px solid;
 
}

#header {
	margin: auto;
	width: 100%;
	font-family: franklin gothic Book;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav li a{
	background:  #005883;
	color: white;
	text-decoration:none;
	padding: 10px 15px;
	display: block;
	}

.nav li a:hover{
	background-color: #F0B429;
}
.nav > li {
	float: left;
}

.nav li ul {
	display: none;
	position:absolute;
	min-width: 110px;
}
.nav li:hover > ul{
	display: block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-140px;
	top:0px;
}

#cabecera{
  min-height:400px;
  background:url('../img/cabecera.jpg') no-repeat 0 -200px;
  text-align:center;
  border-top :#F0B429 2px solid;
}

#cabecera h1{
  font-size:55px;
  margin-bottom:10px;
  font-family: franklin gothic Book;
}

.contenedor{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.lista{
   	list-style: upper-alpha;
	margin: 2;
	padding: 0;
	color: #b3b3b3;
}

.titulo{
	font: 18px franklin gothic Book;
	font-weight: bold;
	color:  #F0B429;

}

p{
	font-family: franklin gothic Book;
	color: #808080;
	text-align: left;
}




.cita{
	font-family: franklin gothic Book;
	color: #808080;
	text-align: left;
	font-weight: bold;

}

/* Lateral */
aside#lateral{
  float:right;
  width:30%;
  margin-top:10px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

.act{
	width: 750px;
	height: 500px;
}



.footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#1293d4;
  text-align: center;
}
